.button-class {
	background-color: #819653;
	/* Green */
	border: none;
	color: #d6d6d6;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}
.button-class:hover {
	font-weight: bold;
}

h1 {
	color: #d6d6d6
}

body {
	text-align: center;
	background-color: #2e2e2e;
	font-family: monospace;
}

div {
	color:#d6d6d6;
}